.list-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
