.detail-page {
  width: 100%;
  text-align: left;

  .anime-detail-page {
    display: grid;
    gap: 1rem;

    .img-wrapper {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .alt-title {
    display: flex;
    flex-direction: column;

    p {
      margin: 0.3rem 0;

      &:not(:first-child) {
        padding-left: 0rem;
        &::before {
          content: "";
        }
      }
      &:not(:last-child) {
        padding-right: 0rem;
      }
    }
  }

  .anime-desc {
    .summary {
      display: flex;

      .likes {
        color: #46d369;
      }

      .summary-detail {
        margin: 0 0.5rem;
        display: flex;
        gap: 5px;

        .episodes {
          font-weight: bold;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .detail-page {
    .anime-detail-page {
      grid-template-columns: repeat(2, 1fr);
    }

    .alt-title {
      display: flex;
      flex-direction: row;

      p {
        margin: 0 0 0.5rem;
        position: relative;
        &:not(:first-child) {
          padding-left: 0.75rem;
          &::before {
            content: ".";
            position: absolute;
            left: 0;
          }
        }
        &:not(:last-child) {
          padding-right: 0.75rem;
        }
      }
    }
  }
}
